/* General */
$fontSize: 14px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
$menuHeaderFontSize: 1.2rem;

$headerHeight: 4rem;
$footerHeight: 2.5rem;
$sidebarWidth: 22rem;
$sidebarMinWidth: 9rem;

$hexa-size: 6em;
