@import "./_designer";
@import "./_designer-theme-default";

.vue-flow__node a {
  font-weight: 700;
  color: #111;
}

.vue-flow__node.dark-node {
  background: #0041d0;
  color: #f8f8f8;
}

.vue-flow__node.dark {
  background: #557;
  color: #f8f8f8;
}

.vue-flow__node-selectorNode {
  font-size: 14px;
  background: #f0f2f3;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.vue-flow__node-selectorNode .vue-flow__handle {
  border-color: #f0f2f3;
}
